In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
tickers = ["BYDDF", "TSLA"]
start_date = "2023-01-01"
end_date = "2025-10-31"

raw_data = yf.download(tickers, start = start_date, end = end_date)

/var/folders/c2/d3xxplr12sj4k_r1g1llrg1r0000gn/T/ipykernel_15226/1482442649.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  raw_data = yf.download(tickers, start = start_date, end = end_date)
[*********************100%***********************]  2 of 2 completed

In [3]:
prices = raw_data["Close"].copy()
prices.columns = tickers

In [4]:
prices = prices.dropna(how="any")

In [5]:
train_start = "2023-01-01"
train_end = "2025-01-31"

test_start = "2025-02-01"
test_end = "2025-10-31"

In [6]:
prices_train = prices.loc[train_start:train_end].copy()
prices_train.tail()

                BYDDF        TSLA
Date
2025-01-27  11.611623  397.149994
2025-01-28  11.565466  398.089996
2025-01-29  11.621513  389.100006
2025-01-30  11.848998  400.279999
2025-01-31  11.545685  404.600006

In [7]:
prices_test = prices.loc[test_start:test_end].copy()
prices_test.tail()

            BYDDF        TSLA
Date
2025-10-24  13.45  433.720001
2025-10-27  13.64  452.420013
2025-10-28  13.56  460.549988
2025-10-29  13.55  461.510010
2025-10-30  13.04  440.100006

In [8]:
prices_train.to_excel("train_data.xlsx")

In [9]:
prices_test.to_excel("test_data.xlsx")